name: Deploy Jupyter Book to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install jupyter-book ghp-import

      - name: Clean previous builds
        run: |
          jupyter-book clean AI_Literacy2 --all || true
          
      - name: List book files
        run: |
          ls -R AI_Literacy2

      - name: Build Jupyter Book
        run: |
          jupyter-book clean AI_Literacy2 --all || true
          jupyter-book build AI_Literacy2 --debug
          ls -R AI_Literacy2/_build/html

      - name: Deploy to GitHub Pages
        run: |
          ghp-import -n -p -f AI_Literacy2/_build/html
